h1{
    color: green;
}
img {
    width: 400px;
}
#thirdDiv {
    background-color: bisque;
    height: 440px;
    width: 500px;
    padding: 50px;
    border: solid burlywood 10px;
}
#spanId {
    font-size: 18px;
    margin: 100px;
}
